/.idea/sonarlint/issuestore/index.pb
/.idea/sonarlint/securityhotspotstore/index.pb
/.idea/jpa-buddy.xml
/.idea/misc.xml
/.idea/modules.xml
/MyExercises.iml
/out/production/MyExercises/literateProgramming/NumberPrinter.class
/out/production/MyExercises/literateProgramming/PrimeGenerator.class
/out/production/MyExercises/literateProgramming/PrimePrinter.class
/out/production/MyExercises/literateProgramming/PrintPrimesTest.class
/.idea/uiDesigner.xml
/.idea/vcs.xml
/lib/hamcrest-core-1.3.jar
/lib/hamcrest-core-1.3-javadoc.jar
/lib/hamcrest-core-1.3-sources.jar
/lib/junit-4.13.1.jar
/lib/junit-4.13.1-javadoc.jar
/lib/junit-4.13.1-sources.jar
